<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="id.android.basics.module.x">

  <application>
    <activity
        android:name=".presentation.NativeActivity"
        android:exported="false"
        android:label="@string/module_name"
        android:screenOrientation="locked"
        android:theme="@style/Theme.Module.X" />
  </application>
</manifest>